---
import Layout from "../layouts/Layout.astro";

const { env } = Astro.locals.runtime;
const success = Astro.url.searchParams.get("success");
const contact = Astro.locals.contact || {
  name: { value: "", error: "" },
  email: { value: "", error: "" },
  message: { value: "", error: "" },
  serverError: false,
};
---

<head>
  <script
    src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"
    async
    defer
    is:inline></script>
</head>

<Layout title="Ethan Hassett | Get in Touch">
  <noscript>
    <style>
      #form-container {
        display: none;
      }
    </style>

    <div class="pb-(--space-3xl)">
      <p class="heading">Get in Touch</p>
      <p class="my-(--space-2xs)">
        This form requires JavaScript to be enabled.
      </p>
      <hr class="divider" />
      <a href="/">&#8250; go home</a>
    </div>
  </noscript>

  <div id="form-container" class:list={success ? "pb-(--space-3xl)" : "w-full"}>
    <p class="heading">Get in Touch</p>

    <div class:list={success ? "" : "hidden"}>
      <p class="my-(--space-2xs)">
        Thank you for your message! I will get back to you as soon as possible.
      </p>
      <hr class="divider" />
      <a href="/">&#8250; go home</a>
    </div>

    <form
      id="contact"
      class:list={success ? "hidden" : ""}
      class="my-(--space-m) flex w-full"
      method="POST"
    >
      <div class="flex flex-1 flex-col gap-(--space-m)">
        <input
          class:list={contact.name.error && "border-red-400"}
          class="contact-input border-b-2"
          type="text"
          id="name"
          name="name"
          placeholder="name"
          required
          value={contact.name.value}
          aria-describedby={contact.name.error ? "name-error" : undefined}
          aria-invalid={contact.name.error ? "true" : "false"}
        />
        <span id="name-error" class="form-error">{contact.name.error}</span>
        <input
          class:list={contact.email.error && "border-red-400"}
          class="contact-input border-b-2"
          type="email"
          id="email"
          name="email"
          placeholder="email"
          required
          value={contact.email.value}
          aria-describedby={contact.email.error ? "email-error" : undefined}
          aria-invalid={contact.email.error ? "true" : "false"}
        />
        <span id="email-error" class="form-error">{contact.email.error}</span>
        <textarea
          class:list={contact.message.error && "border-red-400"}
          class="contact-input mt-(--space-3xs) min-h-(--space-3xl) border-2"
          id="message"
          name="message"
          placeholder="message"
          required
          maxlength="2000"
          aria-describedby={contact.message.error ? "message-error" : undefined}
          aria-invalid={contact.message.error ? "true" : "false"}
          >{contact.message.value}</textarea
        >
        <span id="message-error" class="form-error"
          >{contact.message.error}</span
        >
        <div id="cf-turnstile" data-sitekey={env.TURNSTILE_SITE_KEY}></div>
      </div>
    </form>
    {
      contact.serverError && (
        <span class="mt-(--space-3xs) h-(--space-s) w-full text-red-400">
          Sorry, there was an issue.{" "}
          <a class="underline" href="mailto:contact@hassett.io">
            Reach out directly.
          </a>
        </span>
      )
    }
    <button
      id="submit"
      class="mr-(--space-3xs) cursor-pointer"
      class:list={contact.serverError || success ? "hidden" : ""}
      form="contact"
      type="submit"
    >
      &#8250; submit
    </button>
  </div>
</Layout>

<script is:inline>
  // Style form elements and display error messages
  function validateInput(e) {
    if (!e.checkValidity()) {
      e.classList.add("border-red-400");
      switch (e.getAttribute("name")) {
        case "name":
          e.nextElementSibling.textContent = "Please enter your name.";
          break;
        case "email":
          e.nextElementSibling.textContent = "Please enter a valid email.";
          break;
        case "message":
          e.nextElementSibling.textContent = "Please enter a message.";
          break;
      }
    } else {
      e.classList.remove("border-red-400");
      e.nextElementSibling.textContent = "";
    }
  }

  function initForm() {
    // Check if form already submitted
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });

    if (!params.success && document.getElementById("cf-turnstile")) {
      // Render Turnstile
      turnstile.render("#cf-turnstile");

      // Remove default browser validation bubbles
      document
        .getElementById("contact")
        .addEventListener("invalid", (e) => e.preventDefault(), true);

      // Validate on blur
      document.querySelectorAll("input, textarea").forEach((e) => {
        e.addEventListener("blur", () => validateInput(e));
      });

      // Validate on submit
      document.getElementById("submit").addEventListener("click", () => {
        if (!document.getElementById("contact").checkValidity()) {
          document
            .querySelectorAll("input:invalid, textarea:invalid")
            .forEach((e) => validateInput(e));
        }
      });
    }
  }

  // Initialize form validation and Turnstile on every page load
  document.addEventListener("astro:page-load", initForm);
</script>
