---
import jobs from "../data/jobs.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/ResumeSection.astro";
import JobSection from "../components/JobSection.astro";
---

<script is:inline>
  // Load with first job experience expanded
  document.addEventListener("astro:page-load", () => {
    document
      .querySelector(
        "#experience > div:first-of-type > section:first-of-type > label:first-of-type input:first-of-type",
      )
      ?.setAttribute("checked", "true");
  });
</script>

<!--
  TODO:
  - Create component for technologies section
  - Add other sidebar sections
-->
<BaseLayout>
  <header class="lg:mt-2">
    <a class="text-5xl md:text-6xl 2xl:text-[6rem] 3xl:text-[7rem]" href="/">
      Ethan Hassett
    </a>
    <p class="font-thin text-3xl md:text-4xl 2xl:text-5xl 2xl:ml-2">
      DevOps & Cloud Engineering
    </p>
  </header>

  <main class="md:flex-1 md:overflow-y-scroll no-scrollbar">
    <div class="mt-4 text-center md:pb-36">
      <hr class="md:hidden w-3/4 m-auto" />

      <div class="xl:grid xl:grid-cols-3">
        <div id="experience" class="md:-ml-2 2xl:ml-0 xl:col-span-2">
          <p class="mt-4 text-3xl md:hidden">Experience</p>
          <div class="grid grid-cols-2 md:grid-cols-1 justify-between">
            {
              jobs.map((job) => (
                <JobSection
                  title={job.title}
                  company={job.company}
                  start_date={job.start_date}
                  end_date={job.end_date}
                  details={job.details}
                />
              ))
            }
          </div>
        </div>

        <div class="-ml-2 2xl:ml-0">
          <Section title="Technologies" sidebar>
            <ul class="pl-12 text-xl list-disc">
              <li>Blah</li>
              <li>Blah</li>
              <li>Blah</li>
            </ul>
          </Section>
        </div>
      </div>

      <div class="mt-4 md:hidden">
        <p class="text-3xl">Certifications</p>
        <div class="font-light text-xl">
          <p class="mt-2">Terraform Associate (003)</p>
          <p class="mt-2">Sumo Logic Fundamentals</p>
          <p class="mt-2">Databricks Lakehouse Fundamentals</p>
        </div>
      </div>

      <hr class="md:hidden w-3/4 m-auto mt-4" />
    </div>
  </main>

  <footer
    class="md:fixed bg-dark-500 md:bottom-0 md:pb-4 md:grid md:grid-cols-3 text-center md:w-[calc(100vw-4rem)]"
  >
    <div class="mt-4 font-light lg:text-left">
      <p>
        Download my <a class="underline hover:cursor-pointer">full resume</a>
      </p>
    </div>

    <div class="underline mt-4 font-light">
      <a class="connect-link" href="https://github.com/ehassett">GitHub</a>
      <a class="connect-link" href="https://linkedin.com/in/ehassett"
        >LinkedIn</a
      >
      <a class="connect-link" href="mailto:ethan@hassett.io">ethan@hassett.io</a
      >
    </div>

    <div class="mt-4 font-light lg:text-right">
      <p>
        View this site's <a
          class="underline hover:cursor-pointer"
          href="https://github.com/ehassett/ethanhassett.com">code</a
        >
      </p>
    </div>
  </footer>
</BaseLayout>
